* {
  margin: 0;
  padding: 0;
}
body{
	 	font-family: 'Open Sans',sans-serif;
	 	font-size: 18px;
	 	background-color: rgb(220,220,220);
	 	margin: 0;
	 	padding: 2% 15%;
	 	text-align: justify;
}
/*-----Tabs----*/
  .tabs {
  	width:100%;
  	display:inline-block;
  	text-align: center;
  }
	/*----tab links----*/
  	.tab-links:after {
  		display: block;
  		clear:both;

  	}
  	.yunocenter {
  		display: inline-block;
  		text-align: center;
  		width: 100%
  	}
    	.tab-links li {
    		margin: 0px 0px;
    		display: inline-block;
    		list-style: none;
    		text-align: center;
    	}

  		.tab-links a {
  			padding: 9px 15px;
  			display: inline-block;
  			text-align: center;
  			border-radius: 3px 3px 0px 0px;
  			background: #7FB5DA;
  			font-size: 16px;
  			font-weight: 600;
  			color: #4c4c4c;
  			transition:all linear 0.15s;
  		}

  		.tab-links a:hover {
  			background: #a7cce5;
  			text-decoration: none;
  		}
    	li.active a, li.active a:hover {
    		background: #fff;
    		color: #4c4c4c;
    	}
	/*----- Content of Tabs -----*/
	 .tab-content {
			 padding:15px;
			 border-radius:3px;
			 box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
			 background:#fff;
	 }

		 .tab {
				 display:none;
		 }

		 .tab.active {
				 display:block;
		 }


h1 {
	font-family: 'Open Sans',sans-serif;
	font-size: 40px;
	margin: 0;
	color: rgb(0,0,0);
	padding: 2%;
	text-align: center;
}
.titleimage{
	text-align: center;
}
.intextimage{
	text-align: center;
}
article{
	background-color:white;
}
h2{
	text-align: center;
	padding: 2% 2%;
}
h3{
	padding: 0% 2%;
}
nav{
	margin:0;
	text-align: center;
}
nav ul li{
	font-size: 20px;
	list-style-type: none;
	display: inline-block;
	color: rgb(0,0,0);
	padding: 4% 4%;
	margin: 0;
	text-align: center;
}
body article p{
	padding: 1%;
	background-color: white;
	text-align: left;
}
footer ul li{
	list-style-type: none;
	display: inline-block;
	position: relative;
	width: 100%;
	height: 30px;
	bottom: 0;
	left: 0;
  padding: 1%;
	text-align:center;
}
